{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col align-self-center text-center">
                <h1 class="cover-heading">Two factor authentication</h1>
                    <p class="lead">Insert your security key and press the button.</p>
                    <p class="lead">
                      <img src="{{ asset('key.png') }}" style="max-width: 300px"/>
                    </p>

                {{ form_start(form) }}
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/mbarbeyu2fsecurity/u2f.js') }}"></script>
    <script type="text/javascript">
        setTimeout(function() {
            // Magic JavaScript talking to your HID
            u2f.sign("{{ authenticationRequest.appId }}", "{{ authenticationRequest.challenge }}", {{ authenticationRequest.registeredKeys|raw }}, function(data) {
                
                // Handle returning error data
                if(data.errorCode && data.errorCode != 0) {
                    alert("Authentication failed with error: " + data.errorCode);
                    // Or handle the error however you'd like. 
                    
                    $.ajax({
                        type: 'POST',
                        url: window.location,
                        data: $('form').serialize(),
                        success: function(data) {
                            $(data).find('.alert').insertAfter('header');
                            console.log(data);
                        }
                    });
                    
                    return;
                }
        
                // On success process the data from USB device to send to the server
                var authentication_response = data;
                
                // Get the form items so we can send data back to the server
                var form = document.getElementsByTagName('form')[0];
                var response = document.getElementById('{{ form.response.vars.id }}');
                
                // Fill and submit form.
                response.value = JSON.stringify(authentication_response);
                form.submit();
            });
        }, 1000);
    </script>
{% endblock %}