{% extends 'base.html.twig' %}

{% block body %}
<a href="{{ path('user_details', {'userId': app.user.id}) }}">Back</a>
<h2>Key registration</h2>

<div class="col-md-8 order-md-1">
    {{ form_start(form) }}
    <div class="mb-3">
        {{ form_label(form.name) }}
        {{ form_widget(form.name, {'attr': {'class': "form-control"}}) }}
        {{ form_errors(form.name) }}
    </div>
    {{ form_rest(form) }}
    <hr class="mb-4">
    <button class="btn btn-primary btn-lg btn-block" type="submit">Register</button>
    {{ form_end(form) }}
</div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/mbarbeyu2fsecurity/u2f.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var form = $('form');
            var name = form.find('#{{ form.name.vars.id }}');
            var response = form.find('#{{ form.response.vars.id }}');

            form.on('submit', function(e) {
                if (!name.val()) {
                    e.preventDefault();
                }
                if (!response.val()) {
                    e.preventDefault();
                    u2f.register("{{ jsRequest.appId }}", [{version: "{{jsRequest.version}}", challenge: "{{ jsRequest.challenge }}"}], {{ jsSignatures|raw }}, function(data) {
                        if(data.errorCode && data.errorCode != 0) {
                            alert("registration failed with error: " + data.errorCode);
                            return;
                        }
                        var registration_response = data;
                        response.val(JSON.stringify(registration_response));
                        form.submit();
                    });
                }
            });
        });
    </script>
{% endblock %}