{% extends 'base.html.twig' %}

{% block body %}
<div class="col-md-8 order-md-1">
    <h4 class="mb-3">Register</h4>

    {{ form_start(form) }}
        <div class="mb-3">
            {{ form_label(form.username) }}
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                </div>
                {{ form_widget(form.username, {'attr': {'class': "form-control"}}) }}
                {{ form_errors(form.username) }}
            </div>
        </div>

        <div class="mb-3">
            {{ form_label(form.plainPassword.first) }}
            {{ form_widget(form.plainPassword.first, {'attr': {'class': "form-control"}}) }}
            {{ form_errors(form.plainPassword) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.plainPassword.second) }}
            {{ form_widget(form.plainPassword.second, {'attr': {'class': "form-control"}}) }}
        </div>

        {{ form_rest(form) }}
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Register</button>
    {{ form_end(form) }}
</div>
{% endblock %}
