{% extends 'base.html.twig' %}

{% block body %}
<h2>Users</h2>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>#</th>
                <th>Username</th>
                <th>Keys</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.u2fKeys|length }}</td>
                <td>
                    <a href="{{ path('user_details', {'userId': user.id}) }}" class="btn {% if app.user.id == user.id %}btn-primary{% else %}btn-outline-primary"{% endif %}">Details</a>
                    {% if app.user.id == user.id %}
                        <a href="{{ path('user_delete', {'userId': user.id}) }}" class="btn btn-danger">Delete</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
