{% extends 'base.html.twig' %}

{% block body %}
<table>
    <thead>
        <tr>
            <th>Username</th>
            <th>Keys</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.u2fKeys|length }}{% if user.u2fKeys %}<a href="{{ path('user_keys', {'userId': user.id}) }}">See</a>{% endif %}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ path('user_create') }}">create</a>
<a href="{{ path('user_register_u2f') }}">Register key</a>
<a href="{{ path('user_authenticate_u2f') }}">Authenticate key</a>
{% endblock %}
